body {
  color: rgb(135, 72, 218);
  background: #003f0e;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}
.container {
  max-width: 900px;
  width: 700px;
  height: 300px;
  margin: auto;
  background: #88929c;
  padding: 100px 30px;
}

#player-score {
  font-size: 20px;
}
.score {
  font-size: 20px;
}
#dice {
  font-size: 30px;
}
#roll-dice {
  padding: 6px 10px;
  margin-top: 10px;
}
