body {
  background-color: #667c91;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgb(91, 88, 88);
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 80vh;
  overflow-y: auto; /* Scroll vertically if too many items */
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
}

li {
  color: rgb(43, 226, 131);
  list-style: none;
  margin-top: 10px;
  text-align: left;
}

li.completed {
  text-decoration: line-through;
  color: rgb(218, 63, 63);
}
